# Default ignored files
/shelf/
/appInsightsSettings.xml
/deploymentTargetDropDown.xml
/kotlinc.xml
/migrations.xml
/my-plugin-state.xml
/deploymentTargetSelector.xml
/AndroidProjectSystem.xml
/copilot.*
/runConfigurations.xml
/inspectionProfiles
